<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gardeners list - UrbaCrop</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/index.css">

    <!-- Favicon Links -->
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon_package/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon_package/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon_package/favicon-16x16.png">
    <link rel="manifest" href="./favicon_package/site.webmanifest">
    <link rel="mask-icon" href="./favicon_package/safari-pinned-tab.svg" color="#00a300">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e2efdd;">
        <div class="container-fluid">
    
          <button id="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample">
            <img src="images/See as list.svg">
          </button>
    
          <img id="topnav-logo" class="navbar-brand" src="images/leaf_logo.svg" alt="Green leaf logo">
    
        </div>
      </nav>
    
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">UrbaCrop</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="user-info">
              <img id="user-pro-pic" src="https://via.placeholder.com/150" alt="User Profile Picture" style="border-radius: 50%;">
              <div class="name-title">
                <h3>Suaveman Jones</h3>
                <h4>Landlord</h4>
              </div>
          </div>
          <div class=quick-nav>
            <div class="menu-option">
                <img src="images/applications.svg" alt="Applications Icon">
                <a href="#">Your Gardners</a>
            </div>
            <div class="menu-option">
                <img src="images/favorites.svg" alt="Favourites Icon">
                <a href="#">Your Favourites</a>
            </div>
            <div class="menu-option">
                <img src="images/guidelines.svg" alt="Guidelines Icon">
                <a href="#">Farming Guidelines</a>
            </div>
            <div class="menu-option">
              <img src="images/about_us.svg" alt="About Us Icon">
              <a href="about_us">About Us</a>
          </div>
            <div class="menu-option">
                <img src="images/settings.svg" alt="Settings Icon">
                <a href="#">Settings</a>
            </div>
            <div class="menu-option">
                <img src="images/logout.svg" alt="Log out Icon">
                <a href="#">Log out</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Gardeners list table -->
      <div class="bg-success">
          <h2 class="mb-0 p-2 float-start">Available Gardeners</h2>
          <!-- filter button (model)-->
          <button type="button" class="btn btn-primary float-end m-1" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: #e2efdd;">
            <img src="images/Filter.svg" alt="Filter Icon">
          </button>
          <div class="clearfix"></div>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Filter Gardeners</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/gardeners_list" method="POST">                
                    <!--<div class="mb-3">
                      <label for="FilterByGardenerFirstName" class="form-label">Gardener's First Name:</label>
                      <input type="text" class="form-control" id="FilterByGardenerFirstName" name="gardenerFirstName">
                    </div>-->
                    <div class="mb-3">
                      <label for="FilterByGardenerLastName" class="form-label">Gardener's Last Name:</label>
                      <input type="text" class="form-control" id="FilterByGardenerLastName" name="gardenerLastName">
                    </div>
                    <div class="mb-3">
                      <label for="FilterByGardenerRating" class="form-label">Minimum Rating:</label>
                      <input type="range" class="form-range" min="0" max="5" step="0.5" id="FilterByGardenerRating" name="gardenerRating">
                    </div>
                    <div class="mb-3">
                      <label for="FilterByGardenerNumProjects" class="form-label">Minimum Number of Projects:</label>
                      <input type="range" class="form-range" min="0" max="10" step="1" id="FilterByGardenerNumProjects" name="gardenerNumOfProjects">
                    </div>
                    <div class="btn-group" role="group" aria-label="FilterButtons">
                      <button type="button" class="btn btn-danger">Reset</button>
                      <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="table-responsive-md">
          <table class="table table-striped table-hover table-dark table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Rating (?/5)</th>
                    <th scope="col">Number of Projects</th>
                </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < arrayOfGardeners.length; i++) { %>
                <% let dataTarget = "#" + arrayOfGardeners[i].username %>    
                <tr>
                  <th scope="row"><button class="gardenerRowBtn" type="button" data-bs-toggle="modal" data-bs-target=<%= dataTarget %>><%= i + 1 %></button></th>
                    <td><%= arrayOfGardeners[i].lastName %></td>
                    <td><%= arrayOfGardeners[i].firstName %></td>
                    <td><%= arrayOfGardeners[i].rating %></td>
                    <td><%= arrayOfGardeners[i].numOfProjects %></td>
                </tr>
                <% }; %>
            </tbody>
          </table>
        </div>
    <% for (let i = 0; i < arrayOfGardeners.length; i++) { %>
      <!-- Gardener View Modal -->
      <div class="modal fade" id=<%= arrayOfGardeners[i].username %> tabindex="-1" role="dialog" aria-labelledby="viewGardener"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="gardenerModelTitle"><%= arrayOfGardeners[i].firstName %> <%= arrayOfGardeners[i].lastName %></h4>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <!-- MODAL BODY -->

            <div class="modal-body">
              <div class="mb-3 p-2 rounded" style="background-color: #e2efdd;">
                <div class="mb-2 text-center">
                  <h4>Gardener Information</h4>
                </div>
                <div class="mb-3">
                  <% if (arrayOfGardeners[i].imgURL == '') { %>
                  <img src="https://i.pinimg.com/originals/04/1e/bf/041ebf5acc320b19a03c903a419f14a2.jpg" alt="DefaultIMG" width="100%" class="rounded-3 img-fluid">
                <% } 
                else { %>
                  <img src=<%= arrayOfGardeners[i].imgURL %> alt=<%= arrayOfGardeners[i].username %> width="100%" class="rounded-3 img-fluid">
                <%} %>
                </div>        
                <p id="username" class="mb-1"><b>Username: </b><%= arrayOfGardeners[i].username %></p>
                <p id="rating" class="mb-1"><b>Rating: </b><%= arrayOfGardeners[i].rating %></p>
                <p id="numOfProjects" class="mb-1"><b>Number of Projects: </b><%= arrayOfGardeners[i].numOfProjects %></p>
                <p id="location" class="mb-1"><b>Address: </b><%= arrayOfGardeners[i].address %>, <%= arrayOfGardeners[i].city %></p>
              </div>

              <div class="mb-3 p-2 rounded" style="background-color: #e2efdd;">
                <div class="mb-1 text-center">
                  <h4>Contact Information</h4>
                </div>
                <p id="email" class="mb-1"><b>Email: </b><%= arrayOfGardeners[i].email %></p>
                <p id="phone" class="mb-1"><b>Phone Number: </b><%= arrayOfGardeners[i].phoneNumber %></p>
              </div>
          
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }; %>

      <div class="container-fluid" id="bottom_grid">
        <div class="row">
          <div class="col">
            <div class="col_content">
              <img src="images/Home.svg">
            </div>
          </div>
          <div class="col">
            <div class="col_content">
              <img src="images/Search.svg">
            </div>
          </div>
          <div class="col">
            <div class="col_content">
              <img src="images/Notification.svg">
            </div>
          </div>
        </div>
      </div>
    
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
</body>
</html>