<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  
  <link rel="stylesheet" href="./styles/landlord_profile.css">

  <title>UrbaCrop</title>

  <!-- Favicon Links -->
  <link rel="apple-touch-icon" sizes="180x180" href="./favicon_package/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon_package/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon_package/favicon-16x16.png">
  <link rel="manifest" href="./favicon_package/site.webmanifest">
  <link rel="mask-icon" href="./favicon_package/safari-pinned-tab.svg" color="#00a300">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>

<body>

  <!-- Top Nav Bar -->

  <%- include('../partials/landlord_topNav_hiddenNav'); %>

  <!-- Main Webpage Contents -->

    <div id="main_div">

    <div id="tab_section">
        
        <br>
        <% if (userImg == "") {
          userImg = "https://i.pinimg.com/originals/04/1e/bf/041ebf5acc320b19a03c903a419f14a2.jpg"
        } %>
        <img src=<%= userImg %> alt="profile picture" width="150" height="150">
      
        <br>
        <br>

        <h4>
            <%= userFirstName %> <%= userLastName %>
        </h4>
        <h5>
            Landlord
        </h5>

        <br>

        <div class="container-fluid" id="tab_grid">
          <div class="row">
            <div class="col tab_col">
              <div class="tab_col_content">
                <input type="button" class="profile_button" onclick="location.href='./landlord_profile_profile';"
                  value="Profile" />
              </div>
              <div class="selection_rectangle"></div>
            </div>
            <div class="col tab_col">
              <div class="tab_col_content">
                <input type="button" class="profile_button" onclick="location.href='./landlord_profile_garden';"
                  value="Gardens" />
              </div>
            </div>
            <div class="col tab_col">
              <div class="tab_col_content">
                <button class="profile_button">Reviews</button>
              </div>
            </div>
          </div>
        </div>


    </div>
    
    <br>
    <br>


    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contact Info</h5>
          <p class="card-text">This card will open up and have contact info here.</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ContactInfoModal">
            Edit
          </button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Plant Options:</h5>
          <p class="card-text">This card will open up and have all plant options here.</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PlantInfoModal">
            Edit
          </button>
        </div>
    </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>


    <!-- Contact Info Modal -->
    <div class="modal fade" id="ContactInfoModal" tabindex="-1" role="dialog" aria-labelledby="ContactInfoModal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Contact Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <!-- MODAL BODY -->

          <div class="modal-body">
            
            <form>
              <div>
                First Name: 
                <button>Edit</button>
              </div>
              <div>
                Last Name: 
                <button>Edit</button>
              </div>
              <div>
                Email Address: 
                <button>Edit</button>
              </div>
              <div>
                Phone Number: 
                <button>Edit</button>
              </div>

              <br>

              <div>
                Social Links: 
                <button>Edit</button>
              </div>

              <br>

            </form>

            Bio:

            <button>Edit</button>

            <form action="/action_page.php" id="about_bio">
              <textarea rows="4" cols="50" name="comment" form="about_bio" placeholder="Enter text here..."></textarea>
              <input type="submit">
            </form>
            <br>
            

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


  <!-- Plant Info Modal -->
  <div class="modal fade" id="PlantInfoModal" tabindex="-1" role="dialog" aria-labelledby="PlantInfoModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Plant Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <!-- MODAL BODY -->

      <div class="modal-body">
        
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Plant</h5>
              <p class="card-text">This card will contain plant info.</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ContactInfoModal">
                Edit
              </button>
            </div>
          </div>

          <br>

          <button>Add more plants</button>

          <br>
          <br>

          <div class="plant_options">

            <form action="/action_page.php">
              <label for="plants">Choose a plant:</label>
              <select id="plants" name="plants">
                <option value="Apple">Apple</option>
                <option value="Beets">Beets</option>
                <option value="Bell Peppers">Bell Peppers</option>
                <option value="Blackberries">Blackberries</option>
                <option value="Cabbage">Cabbage</option>
                <option value="Carrots">Carrots</option>
                <option value="Chives">Chives</option>
                <option value="Garlic">Garlic</option>
                <option value="Gooseberry">Gooseberry</option>
                <option value="Grape">Grape</option>
                <option value="Green Beans">Green Beans</option>
                <option value="Kale">Kale</option>
                <option value="Lettuce">Lettuce</option>
                <option value="Onions">Onions</option>
                <option value="Pear">Pear</option>
                <option value="Potato">Potato</option>
                <option value="Radishes">Radishes</option>
                <option value="Raspberry">Raspberry</option>
                <option value="Rhubarb">Rhubarb</option>
                <option value="Strawberries">Strawberries</option>
                <option value="Tomatoes">Tomatoes</option>
                <option value="Squash">Squash</option>
                <option value="Zucchini">Zucchini</option>
              </select>
              <input type="submit" class="btn btn-success dropdown-toggle">
  
              <br>
  
              Or
  
              <br>
  
              <form action="/action_page.php">
                <label for="custon_plant">Input your own plant:</label>
                <input type="text" id="custon_plant" name="custon_plant">
                <input type="submit" class="btn btn-success dropdown-toggle">
              </form>

          </div>

          

            


        
          

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <!-- Bottom Nav Bar -->

  <%- include('../partials/landlord_bottomNav'); %>

  <!-- Bootstrap JavaScript -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>